development.code-workspace
.vscode/
.env

# MacOS
.DS_Store

# Python
__pycache__/
.venv/

# Model training outputs
lora*
checkpoints/
unsloth*
model*
qwen-model
outputs
llama.cpp
*.gguf
*.bin
*.pth
*.ckpt
*.safetensors
phi-3.5_conversational/
lora_qwenmodel/

# Since I am using data from yfinance for personal purpose, I don't want to share it publicly
yfinance_stock_data/
parquet_stock_data/