development.code-workspace
.vscode/
.env

# MacOS
.DS_Store

# Python
__pycache__/
.venv/

# Model training outputs
lora*
checkpoints/
unsloth*
model*
llama.cpp
*.gguf
*.bin
*.pth
*.ckpt
*.safetensors